<div class="ele-areanameWrapper" id="ele-map-all">
    <ul>
        <li id="hokkaido">
            <span class="motion-button"><%= link_to '北海道', search_hokkaido_path %></span>
        </li>
        <li id="tohoku">
            <span><%= link_to '東北', search_tohoku_path %></span>
        </li>
    </ul>
    <ul>
        <li id="chubu">
            <span><%= link_to '中部', search_chubu_path %></span>
        </li>
        <li id="kanto">
            <span><a href="javascript:void(0)">関東</a></span>
        </li>
    </ul>
    <ul>
        <li id="chugoku">
            <span><%= link_to '中国', search_chugoku_path %></span>
        </li>
        <li id="kanto">
            <span><%= link_to '関西', search_kansai_path %></span>
        </li>
    </ul>
    <ul>
        <li id="kyushu">
            <span><%= link_to '九州', search_kyushu_path %></span>
        </li>
        <li id="shikoku">
            <span><%= link_to '四国', search_shikoku_path %></span>
        </li>
    </ul>
</div>

<div class="ele-areanameWrapper" id="ele-map-kanto">
    <ul>
        <li id="tokyo"><span><a href="javascript:void(0)">東京</a></span></li>
        <li id="chiba"><span><%= link_to '千葉', search_chiba_path %></span></li>
    </ul>
    <ul>
        <li id="kanagawa"><span><%= link_to '神奈川', search_kanagawa_path %></span></li>
        <li id="tochigi"><span><%= link_to '栃木', search_tochigi_path %></span></li>
    </ul>
    <ul>
        <li id="gunma"><span><%= link_to '群馬', search_gunma_path %></span></li>
        <li id="ibaragi"><span><%= link_to '茨城', search_ibaraki_path %></span></li>
    </ul>
    <ul>
        <li id="saitama"><span><%= link_to '埼玉', search_saitama_path %></span></li>
        <li class="backTop"><span><a href="javascript:void(0)">戻る</a></span></li>
    </ul>
</div>
<div class="ele-areanameWrapper" id="ele-map-tokyo">
    <ul>
        <li><span><%= link_to '23区', search_tokyo1_path %></span></li>
        <li><span><%= link_to '23区以外', search_tokyo2_path %></span></li>
    </ul>
    <ul>
        <li class="backTop"><span><a href="javascript:void(0)">戻る</a></span></li>
    </ul>
</div>
