<% provide(:title, "Top") %>
<div class="layout-top-image"></div>
<div class="container-fluid layout-top-mainWrapper">
    <section>
        <h1>全国の脱毛サロンを検索する</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="layout-searchtypeWrapper">
                    <div class="layout-titleArea">
                        <h2 class="line">こだわりの条件から探す</h2>
                    </div>
                    <ul>
                        <li class="Roll__menu">
                            <div><%= link_to 'とにかく安く・早く脱毛したい', '#' %></div>
                            <div>とにかく安く・早く脱毛したい</div>
                        </li>
                        <li class="ToRight__menu">
                            <%= link_to '有名・老舗店から探す', static_pages_toku2_path %>
                        </li>
                        <li class="Roll__menu">                         
                            <div><%= link_to '医療系サロンから探す', static_pages_toku2_path %></div>
                            <div>医療系サロンから探す</div>
                        </li>
                        <li class="ToRight__menu">
                            <%= link_to '話題のサロンから探す', static_pages_toku1_path %>
                        </li>
                        <li class="Roll__menu">
                            <div><%= link_to '脱毛したい部位から探す', '#' %></div>
                            <div>脱毛したい部位から探す</div>
                        </li>
                    </ul>
                </div>
                <!-- .layout-searchType -->
            </div>
            <div class="col-sm-4">
                <div class="layout-titleArea">
                    <h2 class="line">地図から探す</h2>
                </div>
                <div class="layout-mapWrapper">
                </div>
                <%= render 'static_pages/kantocityname' %>
            </div>
            <div class="col-sm-4">
                <!-- <div class="layout-contentslistWrapper">
                    <div class="layout-titleArea">
                        <h2 class="line">キャンペーン・特集</h2>
                    </div>
                    <ul>
                        <% @article_3.each do |a| %>
                        <li class="check">
                            <%= link_to a.title, a %>
                            <p class="js-ellipsis"><%= a.article %></p>
                        </li>
                        <% end %>
                    </ul>
                </div> -->
                <div class="layout-contentslistWrapper">
                    <div class="layout-titleArea">
                        <h2 class="line">初めての脱毛まずはここから</h2>
                    </div>
                    <ul>
                        <% @article_1.shuffle.first(8).each do |a| %>
                        <li class="check"><%= link_to a.title, a %></li>
                        <% end %>
                    </ul>
                </div>
            </div>

        </div>
        <!-- .row -->
    </section>
    <div class="second-contentsWrapper">
        <div class="row">
            <!-- <div class="col-sm-4 "> -->
                <!-- <section>
                    <h2 class="line">おすすめ記事・キャンペーン特集</h2>
                    <row>
                        <ul>
                            <% @article_3.each do |a| %>
                            <li class="check"><%= link_to a.title, a %></li>
                            <% end %>
                        </ul>
                    </row>
                </section> -->
                <!-- <section class="layout-contentslistWrapper">
                        <h2 class="line">初めての脱毛まずはここから</h2>
                    <ul>
                        <% @article_1.shuffle.first(8).each do |a| %>
                        <li class="check"><%= link_to a.title, a %></li>
                        <% end %>
                    </ul>
                </section> -->
            <!-- </div> -->
            <div class="col-sm-12">
                <section>
                    <h2 class="line">脱毛あれこれ特集</h2>
                        <ul class="ItemArticle">
                            <% @article_2.shuffle.each do |a| %>
                            <div class="ItemArticle__flex">
                                <li class="ItemArticle__flex--item1"><span style="background-image:url(<%= asset_path a.picthum%>);" class="ItemArticle__pic"></span></li>
                                <li class="ItemArticle__flex--item2">
                                    <div class="ItemArticle__title"><%= link_to a.title, a %></div>
                                    <p class="ItemArticle__contents"><%= strip_tags(a.article) %></p>
                                </li>
                            </div>
                            <% end %>
                        </ul>
                </section>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- .second-contentsWrapper -->
    <div class="third-contentsWrapper">

        <%= render 'layouts/salons' %>

    </div>
    <!-- .third-contentsWrapper -->
</div>
<!-- .container-fluid -->
