<div class="contents-tokushu1">
    <div class="layout-top">
        <h1>今年注目の脱毛サロンをランキングでご紹介</h1>
    </div>
    <!-- layout-top -->
    <!-- ランキング1位   ////////////////////////////////////  -->
    <section>
        <div class="container Salon">
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout-title">
                        <%= image_tag("crown1.svg") %>
                        <h1>脱毛エステ シースリー</h1><%= image_tag("kirakira2.svg") %>
                    </div>
                    <div id="img-no1">
                        <%= image_tag("no1-salon.jpg", :width => "100%") %>
                    </div>
                    <!-- img-no1 -->
                </div>
                <!-- col-sm-12 -->
                <div class="col-sm-6">
                    <div class="left-item">
                        <h2>サロンについて</h2>
                        <p>全身脱毛定額制フラットシースリーで、やりたかった全身脱毛が月額9000円でできる、業界最安値の料金設定が人気のサロンです。</p>
                        <!-- contents-salonComment -->
                        <div class="left-item--point">
                            <h2 class="fingar line-gray">おすすめポイント</h2>
                            <p class="check">全身脱毛：月額7000円：回数制限なし</p>
                            <!-- contents-salonPoint -->
                        </div>
                        <!-- #left-no1-point -->
                    </div>
                    <!-- left-item -->
                </div>
                <!-- .col-sm-6 -->
                <div class="col-sm-6">
                    <div class="right-item">
                        <span class="contents-salonTokushu">
                            <h2 class="line-gray">企画・特集</h2>
                            <ul>
                                <li>
                                    <span class="check"></span>キャンペーン：最大2ヶ月0円</li>
                                <li>
                                    <span class="check"></span>品質保証書を発行</li>
                                <li>
                                    <span class="check"></span>全身53箇所</li>
                                <li>
                                    <span class="check"></span>国産マシン「ルネッサンス」を使用</li>
                                <li>
                                    <span class="check"></span>全身最短45分</li>
                                <li>
                                    <span class="check"></span>女性専用</li>
                                <li>
                                    <span class="check"></span>他サロンからの乗り換えで10000円OFF</li>
                            </ul>
                        </span>
                    </div>
                    <!-- rignt-item -->
                    <div id="right-no1-comment"></div>
                    <!-- right-no1-comment -->
                </div>
                <!-- .col-sm-6 -->

            </div>
            <!-- .row -->
            <div class="layout-button">
                <a href="http://c-3-esthe.com/lp002/?f=4" target="_blank">
                    <button class="c-button">詳細を見る</button>
                </a>
            </div>
            <!-- layout-button -->
        </div>
        <!-- container -->
    </section>
    <!-- ランキング1位  End /////////////////////////////-->

    <!-- ランキング2位   ////////////////////////////////////  -->
    <section>
        <div class="container Salon">
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout-title">
                        <%= image_tag("crown2.svg") %>
                        <h1>キレイモ</h1><%= image_tag("kirakira2.svg") %>
                    </div>
                    <div id="img-no1">
                        <a href="https://track.affiliate-b.com/visit.php?guid=ON&a=N6315q-c250664L&p=U445860X" target="_blank" rel="nofollow"><img src="https://www.affiliate-b.com/upload_image/6315-1446987085-3.gif" width="100%" style="border:none;" alt="通常"/></a><img src="https://track.affiliate-b.com/lead/N6315q/U445860X/c250664L" width="1" height="1" style="border:none;"/>
                    </div>
                    <!-- img-no1 -->
                </div>
                <!-- col-sm-12 -->
                <div class="col-sm-6">
                    <div class="left-item">
                        <h2>サロンについて</h2>
                        <p>板野友美がイメージキャラクターを務める新しい脱毛サロンです! 全身脱毛26カ所が通常9500円のところが、初月540円（税込）</p>
                        <!-- contents-salonComment -->
                        <div class="left-item--point">
                            <h2 class="fingar line-gray">おすすめポイント</h2>
                            <p class="check">総勢500名のモデル・タレントが通っています！</p>
                            <!-- contents-salonPoint -->
                        </div>
                        <!-- #left-no1-point -->
                    </div>
                    <!-- left-item -->
                </div>
                <!-- .col-sm-6 -->
                <div class="col-sm-6">
                    <div class="right-item">
                        <span class="contents-salonTokushu">
                            <h2 class="line-gray">企画・特集</h2>
                            <h3>2014年2月のオープンから2年で41店舗！店舗出店スピードも業界最速ペース！</h3>
                            <ul>
                                <li>
                                    <span class="check"></span>2014年2月のオープンから2年で41店舗</li>
                                <li>
                                    <span class="check"></span>学割で最大67,900円お得</li>
                                <li>
                                    <span class="check"></span>追加料金無しで顔脱毛が含めれています</li>
                                <li>
                                    <span class="check"></span>全身33箇所初回無料キャンペーン中</li>
                                <li>
                                    <span class="check"></span>無料カウンセリングで、ハンド脱毛体験が無料！</li>
                            </ul>
                        </span>
                    </div>
                    <!-- rignt-item -->
                    <div id="right-no1-comment"></div>
                    <!-- right-no1-comment -->
                </div>
                <!-- .col-sm-6 -->
            </div>
            <!-- .row -->
            <div class="layout-button">
                <a href="https://track.affiliate-b.com/visit.php?guid=ON&a=N6315q-c250664L&p=U445860X" target="_blank" rel="nofollow">
                    <button class="c-button">詳細を見る</button>
                </a>
            </div>
            <!-- layout-button -->
        </div>
        <!-- container -->
    </section>

    <!-- ランキング2位  End /////////////////////////////-->

    <!-- ランキング3位   ////////////////////////////////////  -->
    <section>
        <div class="container Salon">
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout-title">
                        <%= image_tag("crown3.svg") %>
                        <h1>脱毛ラボ</h1><%= image_tag("kirakira2.svg") %>
                    </div>
                    <div id="img-no1">
                        <a href="https://track.affiliate-b.com/visit.php?guid=ON&a=44395S-a145724s&p=9408829m" target="_blank" rel="nofollow"><img src="https://www.affiliate-b.com/upload_image/4395-1328023184-3.jpg" width="100%" style="border:none;" alt="【期間限定キャンペーン】"/></a>
                    </div>
                    <!-- img-no3 -->
                </div>
                <!-- col-sm-12 -->
                <div class="col-sm-6">
                    <div class="left-item">
                        <span class="contents-salonComment">
                            <h2>サロンについて</h2>
                            <p>「全身脱毛激安サロンランキング第１位」に選ばれた、今最も勢いのある脱毛サロンです！<br>女性ファッション誌にも特集されるなど人気も知名度も抜群です♪</p>
                        </span>
                        <!-- contents-salonComment -->
                        <div class="left-item--point">
                            <h2 class="fingar line-gray">おすすめポイント</h2>
                            <ul>
                                <li class="check">独自の冷却クーリング機能で「痛くない!」を実現</li>
                                <li class="check">光脱毛とは異なる「S.S.C美容脱毛」で痛みを軽減し、施術時間を大幅に短縮(全身1回60-90分)</li>
                            </ul>
                            <!-- contents-salonPoint -->
                        </div>
                        <!-- #left-no1-point -->
                    </div>
                    <!-- left-item -->
                </div>
                <!-- .col-sm-6 -->
                <div class="col-sm-6">
                    <div class="right-item">
                        <span class="contents-salonTokushu">
                            <h2 class="line-gray">企画・特集</h2>
                            <ul>
                                <li>
                                    <span class="check"></span>業界初の全身脱毛（月額9,980円）を採用</li>
                                <li>
                                    <span class="check"></span>全身脱毛お試し4ヶ月無料（通常月額4,990円)</li>
                                <li>
                                    <span class="check"></span>スピード脱毛コースで半年〜1年で卒サロン</li>
                                <li>
                                    <span class="check"></span>交通費のキャッシュバックサービス</li>
                                <li>
                                    <span class="check"></span>のり換えキャンペーンで割引を実施中</li>
                            </ul>
                        </span>
                    </div>
                    <!-- rignt-item -->
                    <div id="right-no1-comment"></div>
                    <!-- right-no1-comment -->
                </div>
                <!-- .col-sm-6 -->
            </div>
            <!-- .row -->
            <div class="layout-button">
                <a href="https://track.affiliate-b.com/visit.php?guid=ON&a=44395S-a145724s&p=9408829m" target="_blank" rel="nofollow">
                    <button class="c-button">詳細を見る</button>
                </a>
            </div>
            <!-- layout-button -->
        </div>
        <!-- container -->
    </section>
    <!-- ランキング3位  End /////////////////////////////-->

    <!-- ランキング4位   ////////////////////////////////////  -->
    <section>
        <div class="container Salon">
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout-title">
                        <%= image_tag("4.svg") %>
                        <h1>ミュゼ・プラチナム</h1><%= image_tag("kirakira2.svg") %>
                    </div>
                    <div id="img-no1">
                        <a href="https://track.affiliate-b.com/visit.php?guid=ON&a=M55347-R257313n&p=U445860X" target="_blank" rel="nofollow"><img src="https://www.affiliate-b.com/upload_image/5534-1457953109-3.gif" width="100%" style="border:none;" alt="ミュゼ"/></a><img src="https://track.affiliate-b.com/lead/M55347/U445860X/R257313n" width="1" height="1" style="border:none;"/>
                    </div>
                    <!-- img-no3 -->
                </div>
                <!-- col-sm-12 -->
                <div class="col-sm-6">
                    <div class="left-item">
                        <span class="contents-salonComment">
                            <h2>サロンについて</h2>
                            <p>「東証上場企業に仲間入りした美容脱毛会社ミュゼプラチナム。業界最大手が完全復活！！<br>
                            </span>
                            <!-- contents-salonComment -->
                            <div class="left-item--point">
                                <h2 class="fingar line-gray">おすすめポイント</h2>
                                <ul>
                                    <li class="check">ミュゼ独自開発の高速マシンで、従来より5倍のスピードで施術が可能！</li>
                                    <li class="check">脱毛専用サロン店舗数・売上No.1</li>
                                </ul>
                                <!-- contents-salonPoint -->
                            </div>
                            <!-- #left-no1-point -->
                        </div>
                        <!-- left-item -->
                    </div>
                    <!-- .col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="right-item">
                            <span class="contents-salonTokushu">
                                <h2 class="line-gray">企画・特集</h2>
                                <ul>
                                    <li class="check">好きな1部位と「両ワキ+Vライン美容脱毛完了コース」が何と1,000円</li>
                                    <li class="check">店舗数185店舗から24時間予約・変更・キャンセル可能（キャンセル料なし）</li>
                                    <li class="check">JEMエスティシャン認定試験合格率98.3%</li>

                                </ul>
                            </span>
                        </div>
                        <!-- rignt-item -->
                    </div>
                    <!-- .col-sm-6 -->
                </div>
                <!-- .row -->
                <div class="layout-button">
                    <a href="https://track.affiliate-b.com/visit.php?guid=ON&a=M55347-R257313n&p=U445860X" target="_blank" rel="nofollow">
                        <button class="c-button">詳細を見る</button>
                    </a>
                </div>
                <!-- layout-button -->
            </div>
            <!-- container -->
        </section>

        <!-- ランキング4位  End /////////////////////////////-->
    </div>
    <!-- contents-tokushu1 -->
