<div class="AdminPage">
<div class="AdminPage__contents">
<h2 class="AdminPage__title">ユーザー登録</h2>
<% if admin_signed_in? %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field AdminPage__field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, class: "AdminPage__input form-control" %>
  </div>

  <div class="field AdminPage__field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "AdminPage__input form-control" %>
  </div>

  <div class="field AdminPage__field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "AdminPage__input form-control" %>
  </div>

  <div class="actions AdminPage__actions">
    <%= f.submit "登録",class: "btn btn-default" %>
  </div>
<% end %>
<div class="AdminPage__otherlinks">
<%= render "devise/shared/links" %>
</div>
<% end %>
<% if !admin_signed_in? %>
管理者にお問い合わせ下さい。
<% end %>
</div>
</div>