
<div class="container Shopinfo__edit">
    <h1>サロン情報編集フォーム</h1>
    <div class="col-md-6 col-md-offset-3">
        <%= form_for (@shopinfo) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="form-group">
            <%= f.label :shopname %>
            <%= f.text_field :shopname, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :company %>
            <%= f.text_field :company, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :affili %>
            <%= f.text_area :affili, class: 'form-control',rows: "3" %>
        </div>
        <div class="form-group">
            <%= f.label :ranking %>
            <%= f.number_field :ranking, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :recommend %>
            <%= f.text_area :recommend, class: 'form-control',rows: "10" %>
        </div>
        <div class="form-group">
            <%= f.label :recommend2 %>
            <%= f.text_area :recommend2, class: 'form-control',rows: "10" %>
        </div>
        <div class="form-group">
            <%= f.label :recommend3 %>
            <%= f.text_area :recommend3, class: 'form-control',rows: "5" %>
        </div>
        <div class="form-group">
            <%= f.label :shoptype %>
            <%= f.text_field :shoptype, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :treattype %>
            <%= f.text_field :treattype, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_field :body, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :machine %>
            <%= f.text_field :machine, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :campaign %>
            <%= f.text_area :campaign, class: 'form-control',rows: "5" %>
        </div>
        <div class="form-group">
            <%= f.label :price1 %>
            <%= f.text_area :price1, class: 'form-control',rows: "5" %>
        </div>
        <div class="form-group">
            <%= f.label :price2 %>
            <%= f.text_area :price2, class: 'form-control',rows: "5" %>
        </div>
        <div class="form-group">
            <%= f.label :price3 %>
            <%= f.text_area :price3, class: 'form-control',rows: "5" %>
        </div>
        <div class="form-group">
            <%= f.label :pic1 %>
            <%= f.text_field :pic1, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :pic2 %>
            <%= f.text_field :pic2, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :pic3 %>
            <%= f.text_field :pic3, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :pic4 %>
            <%= f.text_field :pic4, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :pic5 %>
            <%= f.text_field :pic5, class: 'form-control' %>
        </div>
        <br>
        <%= f.submit "情報更新", class: "btn btn-primary" %>
        <%= link_to '戻る', :back ,class: "btn btn-warning"%><br><br>
        <% end %><br>
    </div>
</div>
