<% provide(:title, "脱毛サロン情報管理") %>
<div class="layout-static-admin">
<div class="container">
        <h1>サロン管理</h1>
            <% @shopinfo.each do |s| %>
                <div class="row layout-salonlistWrapper">
                <div class="col-sm-2"><p><%= link_to s.shopname, s %></p></div>
                <div class="col-sm-7"><p><%= truncate(s.recommend, length: 40) %></p></div>
                <div class="col-sm-3">
                <%= link_to "Edit", edit_shopinfo_path(s),class: "btn btn-default btn-sm" %>
                <%= link_to "Delete",s, method: :delete, data: {confirm: "削除しますか？"},class: "btn btn-default btn-sm" %>
                <%= link_to '支店管理', shopinfo_shopbranches_path(s) ,class: "btn btn-default btn-sm" %>
                </div>
                </div>
            <% end %>
        <%= link_to "追加", new_shopinfo_path,class: "btn btn-primary" %>
        <%= link_to '戻る', static_pages_admin_path ,class: "btn btn-warning"%>
        <div class="CSV">
            <div class="c-table CSV__import">
                <%= form_tag(import_shopinfos_path, :method => :post, multipart: true) do %>
                    <div class="">
                        <%= file_field_tag :csv_file %>
                    </div>
                    <%= submit_tag "CSVインポート", class: "btn btn-default btn-sm" %>
                <% end %>
            </div>
            <div class="c-table CSV__export">
                <p class="c-table-cell"><%= link_to "CSV Download", download_shopinfos_path(format: "csv"),class: "btn btn-default btn-sm" %></p>
            </div>
        </div>
        <!-- CSV -->
        <%= will_paginate @shopinfo %>
</div>
</div>
