<% provide(:title, "脱毛サロン情報管理") %>
<div class="layout-static-admin">
<div class="container">
        <h1>サロン情報管理</h1>
            <% @shopinfo.each do |s| %>
                <div class="row layout-salonlistWrapper">
                <div class="col-sm-2"><p><%= link_to s.shopname, s %></p></div>
                <div class="col-sm-7"><p><%= truncate(s.recommend, length: 40) %></p></div>
                <div class="col-sm-3">
                <div class="btn btn-default btn-sm"><%= link_to "Edit", edit_shopinfo_path(s) %></div>
                <div class="btn btn-default btn-sm"><%= link_to "Delete",s, method: :delete, data: {confirm: "削除しますか？"} %></div>
                </div>
                </div>
            <% end %>
        <p class="btn btn-default form-control"><%= link_to "データを追加する", new_shopinfo_path %></p>
</div>
</div>
