<section class="layout-shopinfos-show">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%= image_tag @shopinfo.pic1, width: "100%" %>
            </div>

        </div>
        <!-- row -->
        <div class="row Shopinfo">
            <div class="col-sm-12">
                <h1><%= @shopinfo.shopname %></h1>
            </div>
            <div class="col-sm-6 Shopinfo__leftcol">
                <div class="Shopinfo__recommend">
                    <h2 class="line">おすすめポイント</h2>
                    <p class="textindent"><%= @shopinfo.recommend %></p>
                </div>
                <div class="Shopinfo__datas">
                    <h2 class="line">ショップデータ</h2>
                    <div class="Shopinfo__datas--flex">
                        <div class="Shopinfo__datas--flex-item">
                            <h3 class="check">ショップタイプ</h3>
                            <p><%= @shopinfo.shoptype %></p>
                        </div>
                        <div class="Shopinfo__datas--flex-item">
                            <h3 class="check">脱毛方式</h3>
                            <p><%= @shopinfo.treattype %></p>
                        </div>
                        <!-- <div class="Shopinfo__datas--flex-item">
                            <h3 class="check">脱毛機器</h3>
                            <p><%= @shopinfo.machine %></p>
                        </div> -->
                        <div class="Shopinfo__datas--flex-item">
                            <h3 class="check">運営会社</h3>
                            <p><%= @shopinfo.company %></p>
                        </div>
                        <div class="Shopinfo__datas--flex-item">
                            <h3 class="check">キャンペーン</h3>
                            <p><%= @shopinfo.campaign %></p>
                        </div>
                        <div class="Shopinfo__datas--flex-item">
                            <h3 class="check">施術価格</h3>
                            <p><%= @shopinfo.price1 %></p>
                        </div>
                    </div>

                </div>



            </div>
            <!-- col-sm-6 left -->

            <div class="col-sm-6 Shopinfo__rightcol">
                <div class="Shopinfo__voice">
                    <h2 class="line">口コミ・評価</h2>
                    <h3>総合評価 <%= @shopinfo.ranking.round(2) %> <%= customer_rank(@shopinfo.ranking) %> (<%= link_to @shopinfo.shopfbs.count, @shopfbs %>)</h3>

                    <% @shopinfo.shopfbs.first(2).each do |f| %>
                    <div class="Shopinfo__voice--item">
                        <p>投稿者：<%= f.auther %>　投稿日：<%= f.updated_at.strftime('%Y/%m/%d') %><br>おすすめ度：<%= f.fbrank %> <%= customer_rank(f.fbrank) %></p>
                        <p class="Shopinfo__voice--item-title">投稿タイトル：<span class="bold"><%= f.fbtitle %></span></p>
                        <p class="textindent"><%= f.fbcomment %></p>
                    </div>
                    <% end %>

                    <p><%= link_to "全てのレビューを見る", @shopfbs %>(<%= @shopinfo.shopfbs.count %>件)</p>
                </div>

            </div>
            <!-- col-sm-6 right -->
        </div>
        <!-- row -->
        <div class="row">
            <a href="#">
                <input type="button" class="m-button" value="このサロンを予約">
            </a>
        </div>
        <div class="row BrunchList">
            <div class="col-sm-12">
                <h2 class="line"><%= @shopinfo.shopname %>の店舗情報</h2>
                <div class="BrunchList__flex">
                    <% @shopinfo.shopbranches.each do |b| %>
                    <div class="BrunchList__flex--item">
                        <h3><%= link_to b.branchname, b %></h3>
                        <p><%= b.address %></p>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- layout-shopinfos-show -->
