<% provide(:title, "脱毛関連記事管理") %>
<section class="layout-static-admin">
    <div class="container">
        <h1>脱毛関連記事管理画面</h1>
        <% @article.each do |a| %>
        <div class="row layout-articleWrapper">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-6">
                        <p>記事タイトル：<%= link_to a.title, a %> <br>カテゴリー：<%= a.category %><br>最終更新：<%= a.updated_at %></p>
                    </div>
                    <div class="col-sm-6">
                        <p><%= truncate(a.article, length: 50) %></p>
                    </div>
                </div>

            </div>
            <div class="col-sm-2">
            <%= link_to "Edit", edit_article_path(a),class: "btn btn-default btn-sm" %>
            <%= link_to "Delete",a, method: :delete, data: {confirm: "削除しますか？"},class: "btn btn-default btn-sm"  %>
            </div>
        </div>
        <!-- layout-articleWrapper -->
        <% end %>
        <%= link_to "データを追加する", new_article_path, class: "btn btn-primary" %>
        <%= link_to '戻る', static_pages_admin_path ,class: "btn btn-warning"%>
        <!-- # import/export excel/csv ## -->
        <div class="CSV">
            <%= form_tag import_articles_path, multipart: true do %>
            <div class="c-table CSV__import">
                <p class="c-table-cell CSV__label"><%= file_field_tag :file %></p>
                <p class="c-table-cell"><%= submit_tag "Excelでインポート",class: "btn btn-default btn-sm" %></p>
            </div>
            <% end %>
            <div class="c-table CSV__export">
                <p class="c-table-cell CSV__label">CSVでエクスポート</p>
                <p class="c-table-cell"><%= link_to "CSV", articles_path(format: "csv"),class: "btn btn-default btn-sm" %></p>
            </div>
        </div>
        <!-- CSV -->
        <!-- # import/export excel/csv End ## -->

    </div>
</section>
