<% provide(:title, "脱毛関連記事管理") %>
<section class="layout-static-admin">
    <div class="container">
        <h1>脱毛関連記事管理画面</h1>
        <div class="ArticleEditPage--desc">
            <p>".a-h2"、".a-h3"、".a-bold"のclassが使えます。</p>
        </div>
        <% @article.each do |a| %>
        <div class="row layout-articleWrapper">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-6">
                        <p>記事タイトル：<%= link_to a.title, a %> <br>カテゴリー：<%= a.category %><br>最終更新：<%= a.updated_at %></p>
                    </div>
                    <div class="col-sm-6">
                        <p><%= truncate(a.article, length: 50) %></p>
                    </div>
                </div>

            </div>
            <div class="col-sm-2">
            <%= link_to "Edit", edit_article_path(a),class: "btn btn-default btn-sm" %>
            <%= link_to "Delete",a, method: :delete, data: {confirm: "削除しますか？"},class: "btn btn-default btn-sm"  %>
            </div>
        </div>
        <!-- layout-articleWrapper -->
        <% end %>
        <%= link_to "データを追加する", new_article_path, class: "btn btn-primary" %>
        <div class="CSV">
            <div class="c-table CSV__import">
                <%= form_tag(import_articles_path, :method => :post, multipart: true) do %>
                    <div class="CSV__import--select">
                        <%= file_field_tag :csv_file %>
                    </div>
                    <div class="btn btn-default btn-sm">
                        <%= submit_tag "CSVインポート", class: "" %>
                    </div>     
                <% end %>
            </div>
            <div class="c-table CSV__export">
                <p class="c-table-cell"><%= link_to "CSV Download", download_articles_path(format: "csv"),class: "btn btn-default btn-sm" %></p>
            </div>
        </div>
        <!-- CSV -->
    </div>
</section>
