<section class="layout-article-show">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 Article">
                <h1><%= @article.title %></h1>
                <div class="Article__subtitle"><%= @article.updated_at %><span class="Article__subtitle--cat"><%= @article.category %></span></div>
                <div class="Article__contents">
                    <%= sanitize(simple_format(@article.article), :tags => %w( h2 h3 br a img style)) %>
                    <div class="Article__controller">
                        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
                        <%= link_to '戻る', :back ,class: "btn btn-warning"%><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 Article--side">
                <div class="Article--side__contents">
                    <h2>関連記事</h2>
                    <ul>
                        <% @articleAll.each do |a| %>
                        <li class="Article--side__list">
                            <p><%= link_to a.title, a %></p>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <div class="Article--side__contents">
                    <h2>おすすめ記事</h2>
                    <ul>
                        <% @articleAll.each do |a| %>
                        <li class="Article--side__list">
                            <p><%= link_to a.title, a %></p>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
