<% provide(:title, "脱毛サロンカスタマーレビュー管理") %>
<div class="layout-static-admin">
<div class="container">
        <h1>カスタマーレビュー管理</h1>
            <% @shopfb.each do |f| %>
                <div class="row layout-fbWrapper">
                <div class="col-sm-2">
                    <p><%= f.shopinfo.shopname %></p>
                </div>
                <div class="col-sm-3"><p><%= link_to f.fbtitle, f %></p></div>
                <div class="col-sm-4"><p><%= truncate(f.fbcomment, length: 20) %></p></div>
                <div class="col-sm-3">
                <div class="btn btn-default btn-sm"><%= link_to "Edit", edit_shopfb_path(f) %></div>
                <div class="btn btn-default btn-sm"><%= link_to "Delete",f, method: :delete, data: {confirm: "削除しますか？"} %></div>
                </div>
                </div>
            <% end %>
        <p class="btn btn-default form-control"><%= link_to "データを追加する", new_shopfb_path %></p>
</div>
</div>
