<% provide(:title, "脱毛サロンカスタマーレビュー管理") %>
<div class="layout-static-admin">
<div class="container">
        <h1>カスタマーレビュー管理</h1>
            <% @shopfb.each do |f| %>
                <div class="row layout-fbWrapper">
                <div class="col-sm-2">
                    <p><%= f.shopinfo.shopname %></p>
                </div>
                <div class="col-sm-2"><p><%= link_to f.fbtitle, shopfb_path(f.shopinfo_id) %></p></div>
                <div class="col-sm-5"><p><%= truncate(f.fbcomment, length: 70) %></p></div>
                <div class="col-sm-3">
                <%= link_to "Edit", edit_shopfb_path(f),class: "btn btn-default btn-sm" %>
                <%= link_to "Delete",f, method: :delete, data: {confirm: "削除しますか？"},class: "btn btn-default btn-sm" %>
                </div>
                </div>
            <% end %>
        <%= link_to "追加", new_shopfb_path, class: "btn btn-primary" %>
        <%= link_to '戻る', static_pages_admin_path ,class: "btn btn-warning"%>
        <div class="CSV">
            <div class="c-table CSV__import">
            <%= form_tag(import_shopfbs_path, :method => :post, multipart: true) do %>
                <div class="">
                    <%= file_field_tag :csv_file %>
                </div>
                <%= submit_tag "CSVインポート", class: "btn btn-default btn-sm" %>
            <% end %>
            </div>
            <div class="c-table CSV__export">
                <p class="c-table-cell"><%= link_to "CSV Download", download_shopfbs_path(format: "csv"),class: "btn btn-default btn-sm" %></p>
            </div>
        </div>
        <!-- CSV -->
</div>
</div>
