<% provide(:title, "支店管理") %>
<div class="layout-static-admin">
<div class="container">
    <section>
        <h1>支店情報管理</h1>
        <% @shopbranch.each do |branch| %>
        <div class="row layout-branchWrapper">
            <div class="col-sm-2"><p><%= link_to branch.shopname, branch %></p></div>
            <div class="col-sm-2"><p><%= branch.branchname %></p></div>
            <div class="col-sm-5"><p><%= truncate(branch.address, length: 25) %></p></div>
            <div class="col-sm-3">
                <div class="btn btn-default btn-sm"><%= link_to "Edit", edit_shopbranch_path(branch) %></div>
                <div class="btn btn-default btn-sm"><%= link_to "Delete",branch, method: :delete, data: {confirm: "削除しますか？"} %></div>
            </div>
        </div>
        <!-- .row -->
        <% end %>
    </section>
</div>
</div>
