<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBudW2ULqTKZGDdgSBUv9QVp5clCV4n-lk"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags reverse: true %>
</head>
<body>
<%= render 'layouts/mainheader' %>
<div class="layout-main-contentsWrapper">
<%= yield %>
</div>
<%= render 'layouts/mainfooter' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
